- @title = "#{@category} Events"

%ul.events
  - @events.each do |event|
    %dt= h event.name
    - if event.category
      %dd.category= h event.category
    - if event.location
      %dd.location= h event.location
    - unless event.time.blank?
      %dd.time= h event.time

-# content_for :body do
  <r:events for="next 12 months">
  <ul category="#{@category}" class="dates events">
  <r:each>
  <r:header>
  <li><h3 class="callout"><r:event:date format="%B %Y" /></h3></li>
  </r:header>
  <li><span class="posted"><r:event:date format="%m/%d/%y" /></span><r:event:name /> <r:event:time format='%I:%M %p' connector='to' /></li>
  </r:each>
  </ul>
  </r:events>
  
